/* main and navbar  */
#main {
    width: 100%;
    background-image: url(assets/main-bg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    
}

.main-to-call {
    margin-top: 8rem;
}

.main-heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 3px;
}

.main-desk {
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.scroll-style {
    margin-top: 10rem;
}

a {
    text-decoration: none;
}

.animation {
    animation: animation 2s ease infinite alternate;
}

@keyframes animation {
    100% { font-size: 0.8rem;}
} 


/* breakpoints */
@media  screen and (max-width: 600px) {

    .main-to-call{
        margin-top: 8rem;
    }

    .main-heading {
        font-size: 2.5rem;
    }

    .main-desk {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .scroll-style {
        margin-top: 10rem;
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .main-heading {
        font-size: 3.1rem;
    }

    .main-desk {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.2rem;
    }

    .scroll-style {
        margin-top: 8rem;
    }
}

/* end breakpoints */
/* end main and navbar  */



/* <!-- Game play  --> */
.games-background {
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url('assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desk-game-play {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: 2px;
}

.head-game-play {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3.3rem;
    line-height: 50px;
    letter-spacing: 3px;
}

.previous{
    margin-left: -10vw;
    
}

.next {
    margin-right: -10vw;
}


.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
}

/* breakpoints */
@media screen and (max-width: 992px) {
    .desk-game-play {
        font-size: .9rem;
    }

    .head-game-play {
        font-size: 2.5rem;
    }

    .previous, .next {
        width: 20px;
        height: 20px;
    }
}

@media  screen and (max-width: 600px) {
    .game-play {
        padding-top: 0vh;
    }

    .desk-game-play {
        font-size: 0.8rem;
        text-align: center;
    }

    .head-game-play {
        font-size: 2rem;
        text-align: center;
    }
}
/* end breakpoints */
/* End game play */



/* Game feature  */
.game-feature {
    width: 100%;
    min-height: 100vh;
    background-image: url(assets/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.features {
    padding-top: 15vh;
}

.desk-game-feature {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 2px;
}

.head-game-feature {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 3rem;
line-height: 64px;
letter-spacing: 3px;
}

.head-features {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 30px;
letter-spacing: 2px;
color: #FFB548;
}

.desk-feature {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    margin-top: 10vh;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    position: absolute;
    top: 2.1vh;
    left: 26px;
    width: 2px;
    height: 49%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid white;
    left: 20px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

/* breakpoints */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    ul.timeline:before {
        top: 2.5vh;
        height: 55%;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .desk-game-feature {
        font-size: .8rem;
    }

    .head-game-feature {
        font-size: 2.5rem;
    }

    .head-features {
        font-size: 1rem;
    }

    .desk-feature {
        font-size: .9rem;
    }

    ul.timeline:before {
        top: 2.3vh;
    }
}

@media screen and (max-width: 600px) {
    .game-feature {
        width: 100%;
    }

    .features {
        margin-left: 30vh;
    }

    .desk-game-feature {
        font-size: .8rem;
    }

    .head-game-feature {
        font-size: 2rem;
    }

    .head-features {
        font-size: 1rem;
    }

    .desk-feature {
        font-size: .8rem;
    }

    ul.timeline:before {
        top: 2.3vh;
    }
}
/* end breakpoints */
/* end game features */


/* requirements */
.requirements {
    width: 100%;
    min-height: 105vh;
    background-image: url(assets/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.requirements-style {
    padding-top: 100px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
}

.head-requirements {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 3px;
}

.head-table-data {
    color: #FFB548;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
}

/* breakpoints */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .head-requirements {
        font-size: 1.6rem;
    }

    .desk-requirements {
        font-size: .8rem !important;
    }

    .head-table-data {
        font-size: 1rem;
    }

    .desk-table-data {
        font-size: .8rem;
    }
}

@media screen and (max-width: 600px) {
.requirements-style {
    padding-top: 15vh;
}

    .head-requirements {
        font-size: 1.7rem;
    }

    .desk-requirements {
        font-size: .9rem !important;
    }

    .head-table-data {
        font-size: 1rem;
    }

    .desk-table-data {
        font-size: .9rem;
    }
}
/* end breakpoints */
/* end requirements */


 /* top scores */
.bg-top-scores {
    width: 100vw;
    height: 100vh;
    background-image: url(assets/bg-scores.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top-scores {
    padding-top: 60px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
}


.scores {
    padding-top: 130px;
}

.card-name {
    font-size: 18px;
    letter-spacing: 2px;
    color: #FFB548;
}

.profesion {
    margin-top: -10px;
}

.date-card {
    margin-top: -15px;
    padding-bottom: 5px;
}

.twitter {
    background-size: 1px;
    color: #ffffff;
}

.shadow {
    width: 63px;
    height: 63px;
    background-color: #FFB548;
    margin-top: -62px;
    margin-left: 7px;
}

/* end top scores */


/* footer */
.footer {
    background-image: url(assets/footer.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.head-footer {
    letter-spacing: 3px;
}

.footer-style {
    margin-top: 80px;
}


.footer-menu {
    text-decoration: none;
    color: white;
    font-size: 13px;
}


.fb {
    width: 9.23px;
    height: 18.99px;
}

.twitter {
    width: 21.01px;
    height: 16px;
}

.yt {
    Width: 24.99px;
    Height: 17.99px;
}

.twitch {
    width: 19.15px;
    height: 18.16px;
}

.desk-footer {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

/* breakpoints */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .hero-footer {
        padding-top: 10vh;
    }

    .desk-footer {
        font-size: .9rem;
    }

    .head-footer {
        font-size: 2.5rem;
    }

    .footer-style {
        margin-top: 5vh;
    }

    .footer-menu {
        font-size: .7rem;
    }

    .email {
        font-size: .7rem;
        padding-right: 10vh;
    }

    .btn-subs {
        font-size: .7rem;
        margin-top: 2vh;
    }

    .ext-footer {
        font-size: .8rem;
    }
}

@media screen and (max-width: 600px) {
    .hero-footer {
        padding-top: 10vh;
    }

    .desk-footer {
        font-size: .8rem;
    }

    .email {
        font-size: .8rem;
        padding: 0 5vh 0 0;
    }

    .ext-footer {
        font-size: .6rem;
    }
}

/* end breakpoints */