<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>ROCK PAPER SCISSORS</title>
    <!-- my css -->
    <link rel="stylesheet" href="challenge4/style.css">
</head>
<body>
    
    <!-- game start -->
    <section class="bg-game-start">
        <!-- header -->
        <header class="header">
            <div class="previous">
                <a href="/">
                    <img src="challenge4/assets/pre.png" alt="">
                </a>
            </div>
            <div class="logo">
                <img src="challenge4/assets/logo-game.png" alt="logo">
                <h1>ROCK PAPER SCISSORS</h1>
            </div>
        </header>
        <main class="game-area">
            <div class="player">
                <h1 class="player-name">player 1</h1>
                <!-- player choice -->
                <div class="player-choice">
                    <button type="button" id="choice-style">
                        <img src="challenge4/assets/batu.png" alt="rock" class="rock">
                    </button>
                    <button type="button" id="choice-style">
                        <img src="challenge4/assets/kertas.png" alt="paper" class="paper">
                    </button>
                    <button type="button" id="choice-style">
                        <img src="challenge4/assets/gunting.png" alt="scissor" class="scissors">
                    </button>
                </div>
            </div>
            <!-- end player choice -->
            <!-- result -->
            <div class="result">
                <div>
                    <h1 class="versus">VS</h1>
                </div>
            </div>
            <!-- end result -->
            <!-- computer choice -->
            <div class="comp">
                <h1 class="comp-name">COM</h1>
                <div class="comp-choice">
                    <button type="button" id="choice-style">
                        <img src="challenge4/assets/batu.png" alt="rock" class="rock">
                    </button>
                    <button type="button" id="choice-style">
                        <img src="challenge4/assets/kertas.png" alt="paper" class="paper">
                    </button>
                    <button type="button" id="choice-style">
                        <img src="challenge4/assets/gunting.png" alt="scissor" class="scissors">
                    </button>
                </div>
            </div>
            <!-- end computer choice -->
        </main>
        <!-- refresh -->
        <footer class="refresh">
            <img src="challenge4/assets/refresh.png" alt="refresh">
        </footer>
        <!-- end refresh -->
    </section>




    <!-- my js -->
    <script src="challenge4/script.js"></script>
</body>
</html>