/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* style */
.bg-game-start {
    background-image: url(../images/assets-game/bg-games.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    padding: 4vh;
}

.previous > a > img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 1.5vh;
    margin-right: 3vw;
}

.logo > img {
    width: 50px;
    float: left;
    margin-right: 3vw;
}

.logo > h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 49px;
    color: #F9B23D;
}

.game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.player-choice, .comp-choice {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: space-between;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: transparent;
    border-color: transparent;
}

.player-name, .comp-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.rock, .paper, .scissors {
    width: 100px;
    cursor: pointer;
}

.versus {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
    
}

.refresh > img {
    width: 30px;
    height: 30px;
    margin-top: 0;
    margin-left: 50%;
    cursor: pointer;
}

.style-choice {
    width: 180px;
    height: 150px;
    background-color: #C4C4C4;
    border-radius: 30px
}

.style-result {
    width: 271.11px;
    height: 166.93px;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 166.93px;
}

.player-choice button img:hover {
    animation: shake .8s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@media screen and (max-width: 768px) {

    .game-area {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .player-choice, .comp-choice {
        display: flex;
        flex-direction: row;
        min-height: 100px;
    }

    .rock, .paper, .scissors {
        width: 70px;
    }

    .result {
        margin: 20px 0;
    }

    .versus {
        font-size: 4rem;
        height: 100px;
        line-height: 100px;
    }

    .style-choice {
        width: 130px;
        height: 120px;
        background-color: #C4C4C4;
        border-radius: 30px
    }

    .style-result {
        width: 150px;
        height: 80px;
        transform: rotate(-15.87deg);
        font-size: 1rem;
        line-height: 80px;
        margin: auto;
    }

    .refresh > img {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 55%;
        right: 50px;
    }
}
