/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* style */
.bg-game-start {
    background-image: url(assets/assets/bg-games.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    padding: 4vh;
}

.previous > a > img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 1.5vh;
    margin-right: 3vw;
}

.logo > img {
    width: 50px;
    float: left;
    margin-right: 3vw;
}

.logo > h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 49px;
    color: #F9B23D;
}

.game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.player-choice, .comp-choice {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: space-between;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: transparent;
    border-color: transparent;
}

.player-name, .comp-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.rock, .paper, .scissors {
    width: 100px;
    cursor: pointer;
}

.versus {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
    
}

.refresh > a > img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50%;
}

.chosen {
    width: 180px;
    height: 150px;
    background-color: #C4C4C4;
    border-radius: 30px
    
}
